@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit!</h1>
    <h2>PROIECT MEDII DE PROGRAMARE AVANSATE</h2>
    <h3>Student: Neagu Denisa</h3>
    <p>Specializare: E-BUSINESS</p>
</div>
