@{
    ViewData["Title"] = "POLITICA DE CONFIDENTIALITATE";
}
<h1>@ViewData["Title"]</h1>

<h1>PRELUCRAREA DATELOR CU CARACTER PERSONAL</h1>
<p>
    1.Site-ul asigura protectia dreturilor si libertatilor funadmentale ale persoanelor fizice si in special a dreptului la protectia datelor cu caracter personal, in conformitate cu Regulamentul European cunoscut sub denumirea de GDPR – Regulamentul (UE) 2016/679
    <br />
    2.”Date cu caracter personal” inseamna orice informatii privind persoana fizica identificata sau idetificabila; o persoana fizica identificabila este o persoana care poate fi identificata, direct sau indirect, in special prin referire la un element de identificare, cum ar fi un nume, un numar de identificare, date de localizare, un idetificator online, sau la unul sau mai multe elemente specifice proprii identitatii sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale.
    <br />
    3. Site-ul are acces la urmatoarele date ale utilizatorilor: nume, prenume, e-mail, adresa si data nasterii.
    <br />
    4. Aceste date personale colectate de catre site sunt stocate in conditii de securitate si nu sunt prelucrate in alt scop decat cel prevazut expres de site (ofertare, livrare, facturare si contractare), precum si in scop statistic sau de marketing.
    <br />
    Temeiul juridic al prelucrarii datelor il constituie crearea oportunitatii de ofertare si de incheiere a contractelor in domeniu de activitate al societatii, in mediul online.
    <br />
    Societatea nu este autorizata sa transmita tertelor persoane datele personale transmise la punctul 3 decat si in scopul mentionat la punctul 4.
    <br />
    Datele cu caracter personal sunt prelucrate in mod legal, echitabil si transparent fata de utilizator/client. Ele se rezuma a fi adecvate, relevante si limitate la ceea ce este necesar in raport cu scopurile in care sunt prelucrate.
    <br />
    Datele cu caracter personal sunt pastrate intr-o forma care permite identificarea utilizatorilor pe o perioada care nu depaseste perioada necesara indeplinirii scopurilor in care sunt prelucrate datele, iar pe perioada nelimitata doar in scop statistic/de marketing.
    <br />
    Utilizatorul are dreptul sa isi retraga in orice moment consintamantul. Retragerea consintamantului nu afecteaza legalitatea prelucrarii efectuate pe baza consitamantului, inainte de retragerea acestuia.
    <br />
    Societatea furnizeaza utilizatorului/clientului informatii privind actiunile intreprinse asupra datelor in urma unei cereri, fara intarzieri nejustificate si in orice caz in cel mult o luna de la primirea cererii. Aceasta perioada poate fi prelungita cu doua luni atunci cand este necesar, tinandu-se seama de complexitatea si numarul cererilor.
    <br />
    Utilizatorul/clientul are dreptul de a solicita, in ceea ce priveste datele cu carcater personal, accesul la acestea, rectificarea sau stergerea acestora sau restrictionarea prelucrarii sau a dreptului de a se opune prelucrarii, precum si a dreptului la portabilitatea datelor, in conformitate cu GDPR. Utilizatorul/Clientul are dreptul de a primi datele cu caracter personal care il privesc si pe care le-a furnizat operatorului intr-un format structurat, utilizat in mod curent si care poate fi citit automat si are dreptul de a transmite aceste date altui operator, fara obstacole din partea operatorului caruia i-au fost furnizate datele cu caracter personal).
    <br />
    Utilizatorul/clientul are dreptul de a obtine din partea societatii o confirmare ca se prelucreaza sau nu date cu caracter personal care o privesc si, in caz afirmativ, acces la datele respective, precum si la alte informatii legate de prelucare, la cerere.
    <br />
    In orice moment, utilizatorul/clientul are dreptul de a se opune, din motive legate de situatia particulara in care se alfa, prelucararii datelor cu caracter personal care il privesc, inclusiv creatii de profiluri.
    <br />
    Atunci cand prelucrarea datelor cu caracter personal are drep scop marketingul direct, persoana vizata are dreptul de a se opune in orice moment prelucrarii in acest scop a datelor cu caracter personal care o privesc, inclusiv crearii de profiluri, in masura in care este legata de marketingul direct respectiv.
    <br />
    Cu privire la maniera de prelucrare a datelor personale ale persoanei fizice, in situatia prelucrarii necorespunzatoare/ilegale a datelor exista posibilitatea de a depune o plangere in fata Autoritaii de Supraveghere A.N.S.P.D.C.P. precum si de a introduce o cale de atac judiciara.
    <br />
    <br />
    Responsabilul cu protectia datelor:
    <br />
    <br />
    Neagu Denisa cu datele de contact:
    <br />
    Localitatea Medias, str. Vaslui, nr.1
    <br />
    E-mail: neagudenisa140@gmail.com
    <br />
    Tel.: +40769980165
</p>
