
@model IEnumerable<Proiect.Models.LibraryViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Books Statistics";
}
@if (User.IsInRole("OnlyManager"))
{
    <p>User is in role <em>role-name</em>.</p>

<h2>Statistici vanzari</h2>
<table>
    <tr>
        <th>
            Data comenzii
        </th>
        <th>
            Reviste cumparate
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.BookCount
            </td>
        </tr>
    }
</table>
}
else
{
<th>
    <a href="/Identity/Account/Login">Please login</a>
</th>
}